@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1.5rem;
  min-height: 100vh;
  background-image: url("/images/back.jpg");
  background-position: top ;
  background-size: cover;
  background-color: rgb(244, 236, 229);
}

h1 {
  font-size: xx-large;
  text-transform: uppercase;
  margin: 0.875rem; ;
}
h2 {
  font-size: x-large;
  color: #6395B7;
  margin: 0.875rem; ;

}

p {
  margin: 3px;
  min-width: 16rem;
  text-align: justify;
}